.context-menu {
  position: fixed;
  z-index: 1000;
  border-radius: 4px;
  background-color: #fff;
  padding: 5px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
}
.context-menu-item {
  display: flex;
  align-items: center;
  padding: 6px 8px;
  font-size: 14px;
  border-radius: 2px;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  transition: all 0.1s ease;
}
.context-menu-item:hover {
  background-color: var(--theme-color);
  color: #fff;
}
.context-menu-item_icon {
  margin-right: 10px;
}
.context-menu-item_suffix {
  margin-left: 10px;
}
