* {
  margin: 0;
  padding: 0;
}
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-synthesis: none;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
html,
body,
#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  border:1px solid red;
}
#root {
  overflow-y: auto;
}
ul {
  list-style: none;
}
