.scrollbar {
  overflow: hidden;
  position: relative;
  border: 1px solid red;
}
.scrollbar:hover .scrollbar-bar,
.scrollbar:active .scrollbar-bar,
.scrollbar:focus .scrollbar-bar {
  opacity: 1;
  transition: opacity 340ms ease-out;
}
.scrollbar-wrap {
  height: 100%;
  overflow: scroll;
}
/* .scrollbar-view {
} */
.scrollbar-bar {
  position: absolute;
  right: 2px;
  bottom: 2px;
  z-index: 1;
  opacity: 0;
  border-radius: 4px;
  transition: opacity 0.12s ease-out 0s;
}

.scrollbar-bar.is-vertical {
  width: 6px;
  top: 2px;
}
.scrollbar-bar.is-vertical > div {
  width: 100%;
}

.scrollbar-bar.is-horizontal {
  height: 6px;
  left: 2px;
}
.scrollbar-bar.is-horizontal > div {
  height: 100%;
}

.scrollbar-thumb {
  position: relative;
  display: block;
  width: 0px;
  height: 0px;
  cursor: pointer;
  background-color: rgba(144, 147, 153, 0.3);
  border-radius: inherit;
  transition: background-color 0.3s ease 0s;
}
