.tabs-theme {
  position: relative;
  display: flex;
  align-items: center;
  height: 40px;
  line-height: 40px;
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
  z-index: 10;
}
.tab-control {
  position: absolute;
  top: 0;
  display: grid;
  place-content: center;
  width: 40px;
  height: 100%;
  background-color: #fff;
  z-index: 10;
  cursor: pointer;
  border-left: 1px solid #f6f6f6;
  box-sizing: border-box;
  transition: background-color 0.2s;
  -webkit-transition: background-color 0.2s;
}
.tab-control:hover {
  background-color: #f6f6f6;
}
.tab-control:active {
  background-color: #e2e2e2;
}

.tab-control-prev {
  left: 0;
  border-left: none;
  border: 1px solid #f6f6f6;
}
.tab-control-next {
  right: 80px;
}
.tab-control-refresh {
  right: 40px;
}
.tab-control-action {
  right: 0;
}
.tab-body {
  width: 100%;
  overflow: hidden;
  margin: 0 120px 0 40px;
}
.tab-wrapper {
  white-space: nowrap;
  transition: all 0.3s;
}
.tab-wrapper li {
  position: relative;
  height: 100%;
  display: inline-flex;
  align-items: center;
  min-width: 0;
  text-overflow: ellipsis;
  padding: 0 40px 0 18px;
  overflow: hidden;
  border-right: 1px solid #f6f6f6;
  vertical-align: top;
  text-align: center;
  cursor: pointer;
  font-size: 15px;
  user-select: none;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
}
.tab-wrapper li::after {
  content: '';
  position: absolute;
  top: 0.4px;
  left: 0;
  width: 0;
  height: 2px;
  border-radius: 0;
  background-color: #292b34;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
}
.tab-wrapper li:hover {
  background-color: #f6f6f6;
}
.tab-wrapper li:hover::after {
  width: 100%;
}
.tab-home {
  padding: 0 12px !important;
}
.tab-active span {
  color: #333;
  font-weight: 500;
}
.tab-active::after {
  width: 100% !important;
}
.tab-close {
  position: absolute;
  right: 8px;
  top: 50%;
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  border-radius: 50%;
  font-size: 14px !important;
  color: #c2c2c2;
  transform: translateY(-50%);
  user-select: none;
  -webkit-user-select: none;
}
.tab-close:hover {
  background-color: #ff5722;
  color: #fff !important;
}
