.tabsTheme {
  position: relative;
  display: flex;
  align-items: center;
  height: 40px;
  line-height: 40px;
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
  z-index: 10;
}
.tabControl {
  position: absolute;
  top: 0;
  display: grid;
  place-content: center;
  width: 40px;
  height: 100%;
  cursor: pointer;
  border-left: 1px solid #f6f6f6;
  box-sizing: border-box;
  transition: background-color 0.2s;
  -webkit-transition: background-color 0.2s;
}
.tabControl:hover {
  background-color: #f6f6f6;
}

.tabControlPrev {
  left: 0;
  border-left: none;
  border: 1px solid #f6f6f6;
}
.tabControlNext {
  right: 80px;
}
.tabControlRefresh {
  right: 40px;
}
.tabControlAction {
  right: 0;
}
.tabBody {
  display: flex;
  width: 100%;
  margin: 0 120px 0 40px;
  overflow: hidden;
  white-space: nowrap;
  transition: all 0.3s;
}
.tabBody li {
  position: relative;
  height: 100%;
  display: grid;
  place-content: center;
  min-width: 0;
  max-width: 160px;
  text-overflow: ellipsis;
  padding: 0 40px 0 18px;
  overflow: hidden;
  border-right: 1px solid #f6f6f6;
  vertical-align: top;
  text-align: center;
  cursor: pointer;
  font-size: 15px;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
}
.tabBody li::after {
  content: '';
  position: absolute;
  top: 0.4px;
  left: 0;
  width: 0;
  height: 2px;
  border-radius: 0;
  background-color: #292b34;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
}
.tabBody li:hover {
  background-color: #f6f6f6;
}
.tabBody li:hover::after {
  width: 100%;
}
.tabHome {
  padding: 0 12px !important;
}
.tabActive span {
  color: #333;
  font-weight: 500;
}
.tabActive::after {
  width: 100% !important;
}
.tabClose {
  position: absolute;
  right: 8px;
  top: 50%;
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  border-radius: 50%;
  font-size: 14px !important;
  color: #c2c2c2;
  transform: translateY(-50%);
  user-select: none;
  -webkit-user-select: none;
}
.tabClose:hover {
  background-color: #ff5722;
  color: #fff !important;
}
