.ant-btn-primary {
  border-color: var(--primary-color) !important;
  box-shadow: none;
}
.ant-btn-success {
  background-color: var(--ant-success-color);
  border-color: var(--ant-success-color);
}
.ant-btn-success span {
  color: #fff;
}
.ant-btn-success:not(:disabled):active {
  color: #fff;
  background-color: var(--ant-success-color-active);
}
.ant-btn-success:not(:disabled):hover {
  color: #fff;
  background-color: var(--ant-success-color-hover);
  border-color: var(--ant-success-color-hover) !important;
}

.ant-btn-error {
  color: #fff;
  background-color: var(--ant-error-color);
  border-color: var(--ant-error-color);
}
.ant-btn-error span {
  color: #fff;
}
.ant-btn-error:not(:disabled):active {
  color: #fff !important;
  background-color: var(--ant-error-color-active);
}
.ant-btn-error:not(:disabled):hover {
  color: #fff;
  background-color: var(--ant-error-color-hover);
  border-color: var(--ant-error-color-hover) !important;
}

.ant-btn-warning {
  background-color: var(--ant-warning-color);
  border-color: var(--ant-warning-color);
}
.ant-btn-warning span {
  color: #fff;
}
.ant-btn-warning:not(:disabled):active {
  color: #fff;
  background-color: var(--ant-warning-color-active);
}
.ant-btn-warning:not(:disabled):hover {
  color: #fff;
  background-color: var(--ant-warning-color-hover);
  border-color: var(--ant-warning-color-hover) !important;
}
