.trigger {
  position: absolute;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  color: #999;
  background-color: #e2e2e2;
  cursor: pointer;
  overflow: hidden;
  padding: 16px 0;
  z-index: 100;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
